services:
  orchestrator:
    build: ./orchestrator
    ports:
      - "5001:4000"
    environment:
      - REDIS_STRING_URI=${REDIS_STRING_URI}
      - APP_API=${APP_API}
      - USERS_API=${USERS_API}
  app:
    build: ./services/app
    ports:
      - "5002:4001"
    environment:
      - DATABASE_URI=${POSTGRES_SQL_STRING}
      - SECRET_ACCESS_TOKEN=${SECRET_ACCESS_TOKEN}
  user:
    build: ./services/users
    ports:
      - "5003:4002"
    environment:
      - DATABASE_MONGO_URI=${DATABASE_MONGO_URI}
      - DATABASE_MONGO_NAME=${DATABASE_MONGO_NAME}
